body {
  font-family: "Times New Roman", Times, serif;
}

.logo {
  font-size: 30px !important;
}
.clg-name {
  font-weight: 900 !important;
  font-size: 35px !important;
}

.empty {
  height: 110px;
}
